body{
  font-family: 'Titillium Web', sans-serif;
}
#header{
    margin-top: 75px;
}

.seccion{
  background:#f1f1f1;
  text-align: center;
  margin-top: 40px;
}

footer{
  background-image: url(../img/smartphones.png);

}
